@model WebsiteEindOpdracht.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Titel"]</h1>

<form method="post" class="contactform">
  <div class="form-group">
    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)
    @Html.ValidationMessageFor(m => m.FirstName)
  </div>

<div class="form-group">
    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)
    @Html.ValidationMessageFor(m => m.LastName)
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.EmailAdress)
    @Html.TextBoxFor(m => m.EmailAdress)
    @Html.ValidationMessageFor(m => m.EmailAdress)
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description)
  </div>

  <input type="submit" value="verstuur" />
</form>
